PORT=Secret
# CORS_ORIGIN=*
MONGODB_URI=Secret
ACCESS_TOKEN_SECRET=Secret
ACCESS_TOKEN_EXPIRY=Secret
REFRESH_TOKEN_SECRET=Secret
REFRESH_TOKEN_EXPIRY=Secret
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=SET_Your_cloud_name
CLOUDINARY_API_KEY=SET_Your_API_KEY
CLOUDINARY_API_SECRET=SET_Your_API_KEY